<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887194491107-iiqt3eprvcpdenectul9siect2faifu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887194491107-iiqt3eprvcpdenectul9siect2faifu8</string>
	<key>API_KEY</key>
	<string>AIzaSyCcbnnfEHq3CtJmGmlS9KKnRUQWW-UDEvo</string>
	<key>GCM_SENDER_ID</key>
	<string>887194491107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ToMark.MailProjectIPZ</string>
	<key>PROJECT_ID</key>
	<string>mailprojectipz</string>
	<key>STORAGE_BUCKET</key>
	<string>mailprojectipz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887194491107:ios:a8195c20bd3c7767</string>
	<key>DATABASE_URL</key>
	<string>https://mailprojectipz.firebaseio.com</string>
</dict>
</plist>